header{
  width:100vw;
  height:90vh;
  background-image: url("./header-bg.jpg");
  background-repeat:none;
  background-size: cover;
}



.nav_div{
  width:100vw;
  height:10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}

ul{
color:white;
display:flex;
justify-content: space-around;
width:40vw;
font-family: 'Montserrat', sans-serif;
font-size: 22px;

}

ul li:hover{
  cursor: pointer;
  color:#fed136 ;
}

.title{
  color:#fed136 ;
  font-family: cursive;
  font-size:40px;
  font-family: 'Kaushan Script', cursive;
 
}

h2{
  color:white;
  font-size:40px;
  font-style:italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height:40px;
  margin-bottom: 25px;
}


.greeting{
  color:white;
  font-family:'Montserrat', sans-serif;
  font-size:80px;
  font-weight: 900;
  line-height:75px;
  margin-bottom: 50px
}

.tellmemore{
 background-color:#fed136 ;
 color:white;
 letter-spacing:1.2px;
 border-radius:7px;;
 font-size: 18px;
 padding: 20px 40px;
 font-weight: 700;
 border:0;

}

section{
  width:100vw;
  display:block;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align:center;
  margin-left:3%;
}


.ham{
width:40px;

}

h4{
  color:white;
  font: size 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left:8px;

}

.ham_nav{
  width:100px;
  height:40px;
  display:flex;
  align-self: center;
  align-items: center;
  align-content: center;
  background-color:#fed136 ;
  border-radius: 5px;
  display:none;
}

.dropdown-menu li{
  display:none;
}

@media (max-width:1170px){
  .nav_div{
    width:100vw;
    height:7vh;
    background-color: #212529;
  }
  
  ul{
    display:none;
  }

  .ham_nav{
    display:block;
    display:flex;
    align-self: center;
    align-items: center;
    align-content: center;

  }

  .menu-open .dropdown-menu li{
    display:block;
    display:flex;
    padding-top:30px;
    padding-left:170px;

    
  }

.dropdown-menu{
  width:30vw;
  height:20vh;
  color:white;
  display:block;


}
}

#menu{
  transition: height 0.5s;
}

.menu-open,
.menu-close{
  width:100vw;
  height:30vh;
  background-color: #212529;
  position:fixed;
}

.menu-close{
  height:0
}

.menu-open .dropdown-menu {
  max-height:30vh ;
}

.menu-close .dropdown-menu{
max-height:0;
transition: all 0.4s;
}

.dropdown-menu li {
  opacity: 0;
  animation: fadeIn 0.4s ;
  animation-fill-mode: forwards;
}

.dropdown-menu li {
  animation-delay: 0.2s;
}


@keyframes fadeIn {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1.0;
  }
}